.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.page-right-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  height: 90vh;
  margin: 10px auto;
  text-align: center;
  border-radius: 50px;
}
