.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.page-right-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  height: 90vh;
  margin: 10px auto;
  text-align: center;
  border-radius: 50px;
}

.dashboard-container {
  width: 90%;
  margin: 0 auto;
}

.dashboard-calories-container,
.dashboard-weight-container {
  height: 170px;
  width: 300px;
  border-radius: 20px;
  background-color: purple;
}

.dashboard-activity-container {
  height: 300px;
  width: 79%;
  background-color: red;
  border-radius: 20px;
}

.diet-plan-container {
  height: 170px;
  width: 300px;
  margin-top: 0;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.diet-plan-container:hover {
  transform: scale(1.05);
}

.diet-header {
  background-color: black;
}

.diet-external-link {
  text-decoration: none;
}
