.weight-chart-container {
  width: 70%;
  max-height: 400px;
  margin: 1rem auto;
}

.weight-details-container p {
  color: black;
  font-size: 18px;
}

.weight-details-container {
  margin-top: 3rem;
}

.weeks-left-span {
  color: red;
  text-decoration: underline;
}

/* ADD WEIGHT FORM */
.weight-form-container {
  width: 50%;
  margin: 2rem auto;
}
