.weight-chart-container {
  width: 70%;
  max-height: 300px;
  margin: 0 auto;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.weight-details-container p {
  color: black;
  font-size: 18px;
}

.weight-details-container {
  margin-top: 5rem;
}

.weeks-left-span {
  color: #782cf6;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: underline;
}

/* ADD WEIGHT FORM */
.weight-form-container {
  width: 50%;
  margin: 2rem auto;
}
